{% extends 'base.html.twig' %}
{% block title %}Accueil - Boys'R'Us{% endblock %}
{% block body %}

    <section class="backBody">
        <h1 class="text-center">Selectionnez votre profil: </h1>
        <div class="styleSpacer"></div>

        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="carousel">
                        <div class="item a"><a href=""><img class="PicsCarousel" src="assets/images/enfants.jpg"></a>
                        </div>
                        <div class="item b"><a href=""><img class="PicsCarousel" src="assets/images/lutins.jpg"></a>
                        </div>
                        <div class="item c"><a href=""><img class="PicsCarousel" src="assets/images/santa.jpg"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="next">Next</div>
        <div class="prev">Prev</div>


    </section>
{% endblock %}
