<div class="navbar">
<img class="navbar-background" src="assets/images/navbarsnow.jpg">
<img class="navbar-img1" src="assets/images/shackles.png">
<a href="?route=home"><img class="navbar-logo" src="assets/images/logo.png"></a>
<img class="navbar-img2" src="assets/images/ballandchain.png">
</div>
