{% extends 'base.html.twig' %}
{% block title %}Daron Noël - Boys'R us{% endblock %}
{% block body %}
        <div class="daronbg">
        </div>
            <div class="content">
                <img class="emperor" src="assets/images/emperorsanta.png">
    <h1 class="TitleSanta">Pays</h1>
    {% for country in countries %}
        <ul>
            <li>
                <a href="index.php?route=santacities&id={{ country.id }}">{{ country.name }}</a>
            </li>
        </ul><br />
    {% endfor %}
</div>
{% endblock %}
