{% extends 'base.html.twig' %}
{% block title %}Page perso - Boys'R us{% endblock %}
{% block body %}

    <div class="container content">
        <h2 class="textAlign headingLogged title">Salut {{ session['formPseudo'] ? session['formPseudo'] }}{{ session['formPseudo1'] ? session['formPseudo1'] }} !!!</h2>
        <h3>A présent, choisis tes cadeaux !!! Wouhouuuu !!</h3>

        <form method="POST" action="">
            <div class="form-group">
                <label for="giftWanted" class="control-label">Pour Noël, je veux :</label>
                <input type="text" id="giftWanted" name="giftWanted" class="form-control" required>
            </div>

            <button type="submit" class="btn btn-info" name="submitGift">Ajouter</button>
        </form>
    </div>
    <ul>
        {% for gift in giftByChild %}
        <li> {{ gift.name }} </li>
        {% endfor %}
    </ul>
{% endblock %}
